:root {
  --green: #566e2d;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 5000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1 .hero h4 .hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Dancing Script", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.4rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--green);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--green);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Dancing Script", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

.home {
  background-image: url(img/bgbaru.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6.5rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  background-position: center;
}

.home h2 {
  color: var(--green);
  font-family: "Dancing Script";
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home h4 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Voltaire", sans-serif;
  font-weight: lighter;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 2.4 rem;
  color: var(--green);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--green);
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info h2 {
  color: var(--green);
  font-family: "Dancing Script";
  font-size: 5rem;
  font-weight: bold;
}
.info .alamat {
  font-size: 1.1rem;
}
.info .description {
  font-size: 1rem;
  font-weight: 300;
}
.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: whitesmoke !important;
  border: 1px solid #999;
}
.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  color: whitesmoke !important;
  border-top: 1px solid #999;
  font-weight: 300;
  font-size: 0.9rem;
}

.gallery {
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 1rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.gallery h2,
.gifts h2 {
  color: var(--green);
  font-family: "Dancing Script";
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}
.gallery p {
  font-size: 1rem;
  font-weight: 300;
  color: black;
  font-family: "Voltaire", sans-serif;
}

.gifts {
  background-color: #edf5d7;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

footer {
  padding: 3rem;
  background-color: #9daf44;
  font-weight: bold;
}

.audio-icon{
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.4rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

/* laptop media query */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
  .home .heart {
    display: none;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
}
/* hp */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 2px;
  }
}

@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}
